<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation System</title>
</head>
<body>
    <h1>Welcome to the Reservation System</h1>
    <p>Select a category to view available reservations:</p>
    <ul>
        <li><a href="http://localhost:5173/">go to frontend</a></li>
        <li><a href="">View Meeting Rooms</a></li>
        <li><a href="">View Vehicles</a></li>
    </ul>
</body>
</html>
